version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    image: dinethkeragala/healthtracker-server:latest
    container_name: backend
    restart: always
    environment:
      MONGO_URI: mongodb://mongo:27017/healthtracker
      JWT_SECRET: supersecret
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    image: dinethkeragala/healthtracker-client:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
