- name: Setup HealthTracker server
  hosts: healthtracker
  become: true

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Install docker-compose plugin
      apt:
        name: docker-compose-plugin
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Copy docker-compose file
      copy:
        src: docker-compose.yml
        dest: /root/docker-compose.yml

    - name: Deploy application
      command: docker compose up -d
      args:
        chdir: /root
